*{
    box-sizing: border-box;
}
body{
    color:black;
    font-weight: 300;
    line-height: 1.254;
    margin: 0 1em;
    padding: 0;
    text-align: justify;
}
a{
    text-decoration: none;
    color: #3b8bba;
    transition: all 0.5s;
    -moz-trasition: all 0.5s;
    -webkit-transition: all 0.5s;
}
a:hover{
    color: blueviolet;

}
#container{
    padding-left: 150px;
    position: relative;
    left: 0px;
    width: 100%;
}
.menu{
    position: fixed;
    background: #191818;
    width: 150px;
    height: 100%;
    left: 0;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu ul li{
    line-height: 2.9em;
    height: 3em;
    transition: all 0.8s;
}
.menu ul li a{
    display: block; 
    color: #fff;
    padding: 0 1em;
    border-bottom: 1px solid #333;
}
.menu ul li:hover{
    background: rgb(26, 109, 235);
}
#content{
    padding: 1em 8em;
}
.header, .note{
    text-align: center;
    color: rgb(26, 109, 235);
}
.note{
    padding: 1.5em 20%;
    background: #efefef;
    border: 1px solid #e8e8e8;
}
.row{
    overflow: hidden;
    margin: 1.5em auto;
}
.row .col{
    float: left;
    margin-right: 1em;
    width: 32%;
}
.row .col:last-child{
    float: right;
    margin-right: 0;
}
.row .col img{
    float: left;
}
.col img{
    margin-right: 26px;
    margin-bottom: 8px;
    float: left;
    
}